/* ini file css */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url("img/Lorem.jpg");
    background-size: cover;
}

nav {
    display: flex;
}

.left-rounded {
    border-radius: 12px 0 0 12px;
}

.right-rounded {
    border-radius: 0 12px 12px 0;
}

nav > a {
    border: 1px solid;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.banner-image {
    height: 450px;
    background-image: url("img/Road.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    /* Opsional */
    height: 500px;
}

footer {
    text-align: center;
}